{% extends 'new_base.html' %}
{% load static %}
{% load rest_framework %}

{% block head %}
<title>Dashboard</title>
<link rel="stylesheet" href="/static/hospital/css/operator-dashboard.css">
{% endblock %}

{% block content %}
<div class="card">
  <h1 class="card-header">Dashboard</h1>
  <div class="card-body">
    <div id="map"></div>
  </div>
  <div class="card-footer text-right">
    <form class="mb-0" action="{% url 'sys-dashboard' %}" method="POST">
      {% csrf_token %}
      <button class='btn btn-dark' type="submit">Run Allocation</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsGd9jQnFq8aW--0l2unCbzidogUPQyc8&callback=initMap" async defer></script>
<script src="/static/hospital/js/operator-dashboard.js"></script>
{% endblock %}
