{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Destination Reserve for Ventilators</title>
{% endblock %}

{% block content %}
<div class="card fill fixed">
  <h1 class="card-header bg-white">Destination Reserve for Ventilators</h1>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Source Hospital</th>
          <th scope="col">Destination Hospital</th>
          <th scope="col">Quantity</th>
          <th scope="col">Allocation Status</th>
          <th scope="col">Shipment Status</th>
        </tr>
      </thead>
      <tbody>
      {% for shipment in dst_reserve_list %}
      <tr>
        <td>{{ shipment.source_hospital }}</td>
        <td>{{ shipment.destination_hospital }}</td>
        <td>{{ shipment.quantity }}</td>
        <td>{{ shipment.allocation_status }}</td>
        <td>{{ shipment.shipment_status }}</td>
      </tr>
      {% endfor %}
      {% if dst_reserve_list|length == 0 %}
        <tr>
          <td colspan="5">
            <div class="alert alert-info mb-0 text-center">
              There is no data to display
            </div>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <!-- <div class="card-footer bg-white">
    <nav aria-label="Page navigation">
      <ul class="pagination mb-0 float-right">
        <li class="page-item">
          <a class="page-link text-dark" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-white bg-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link text-dark" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> -->
</div>
{% endblock %}
