{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Allocation of Supply - Demand with Reserve</title>
{% endblock %}

{% block content %}
<form action="{% url 'sys-settings' %}" method="POST" class="card">
  <h1 class="card-header bg-white">Allocation of Supply → Demand with Reserve</h1>
  <div class="card-body">
    {% csrf_token %}
    {% if serializer.errors and serializer.errors.non_field_errors %}
      {% for error in serializer.errors.non_field_errors %}
        <p style='color:#8B0000;'>ERROR: {{ error }}</p>
      {% endfor %}
    {% endif %}

    {% regroup serializer|dictsort:"section" by section as sections %}
    {% for section in sections %}
      {% for field in section.list %}
        {% render_field field style=style %}
        {% if field.errors %}
          {% for error in field.errors %}
            <p style='color:#8B0000;'>ERROR: {{ error }}</p>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if section.grouper == '' %}
      <div class="alert alert-info" role="alert">
        The following settings must add to 100%:
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="card-footer text-right bg-white">
    <button class="btn btn-dark mb-0" type="submit">Change Settings</button>
  </div>
</form>
{% endblock %}
