{% extends 'new_base.html' %}
{% load rest_framework %}

{% block head %}
<title>Approve - HospitalGroup CEO</title>
{% endblock %}

{% block content %}
<div class="card">
  <h1 class="card-header bg-white">Approve</h1>
  <div class="card-body">
    {% if ventRequest.batchid %}
    <div class="row mb-4">
      <div class="col-2"><strong>Terms of Service</strong></div>
      <div class="col-10">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</div>
    </div>
    <div class="row mb-4">
      <div class="col-2"><strong>Hospital</strong></div>
      <div class="col-10">{{ventRequest.requesting_hospital}}</div>
    </div>
    <div class="row">
      <div class="col-2"><strong>Shared offer</strong></div>
      <div class="col-10">{{ventRequest.offer}}</div>
    </div>
    {% else %}
    <div class="alert alert-danger mb-0 text-center">
      Request not found
    </div>
    {% endif %}
  </div>
  {% if ventRequest.batchid %}
  <div class="card-footer bg-white">
    <form action="{% url 'ventilator-approve' ventRequest.batchid %}" method="POST" class="mb-0 float-right">
      {% csrf_token %}
      <button class="btn btn-dark" type="submit">Approve</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
