{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Offers - HospitalGroup CEO</title>
{% endblock %}

{% block content %}
<div class="card fixed fill">
  <h1 class="card-header bg-white">Offers</h1>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Offering Hospital</th>
          <th>Offer Status</th>
          <th>Offered Quantity</th>
          <th>Allocated Quantity</th>
          <th>Shipped Quantity</th>
          <th>Approve</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in offers %}
        <tr>
          <td>{{offer.hospital.name}}</td>
          <td><span class="badge badge-primary">{{offer.status}}</span></td>
          <td>{{ offer.offered_qty }}</td>
          <td>{{ offer.allocated_qty }}</td>
          <td>{{ offer.shipped_qty }}</td>
          <td>
            <form novalidate method="POST" action="{% url 'ceo-approval' 'offer' offer.id %}">
              {% csrf_token %}
              <button class="btn btn-dark btn-sm" type="submit">Approve</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% if offers|length == 0 %}
        <tr>
          <td colspan="6">
            <div class="alert alert-info mb-0 text-center">
              No offers to display
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
