{% load rest_framework %}

<html>
<body>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <h1>Log In</h1>
    <div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div>
          {{field.label_tag}}
          {{field}}
          </div>
        {% endfor %}
        <button type="submit">Log in</button>
      </form>
    </div>
  <a href="{% url 'password_reset' %}">Reset Password</a>
  <a href="{% url 'request-credentials' %}">Request Credentials</a>
</body>
</html>
