{% extends 'base.html' %}

{% block head %}
<title>Reset Password Completed</title>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
  {% include './shared.html' with title='Reset Password' %}
  <p>The password has been changed successfully!</p>
  <button class="btn btn-sm btn-outline-light" type="button">
    <a class="text-decoration-none" href="/">
      <i class="fa fa-angle-double-left mr-1"></i>
      Back to Log In
    </a>
  </button>
{% endblock %}
