{% extends 'base.html' %}

{% block head %}
<title>Reset Password</title>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
  {% include './shared.html' with title='Reset Password' %}
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <p>Enter the email associated with your account: {{ form.email }}</p>
    <button class="btn btn-lg btn-outline-light btn-block" type="submit">Reset password</button>
  </form>
  <p>An email will be sent to you shortly with instructions to reset your password.</p>
  <button class="btn btn-sm btn-outline-light" type="button">
    <a class="text-decoration-none" href="/">
      <i class="fa fa-angle-double-left mr-1"></i>
      Back to Log In
    </a>
  </button>
{% endblock %}
