{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Request Credentials</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4 text-center">Request Credentials</h1>
  <form action="{% url 'request-credentials' %}" method="POST" novalidate>
    {% csrf_token %}
    {% if serializer.errors and serializer.errors.non_field_errors %}
      {% for error in serializer.errors.non_field_errors %}
        <div class="alert alert-danger">
          <p class="mb-0">ERROR: {{ error }}</p>
        </div>
      {% endfor %}
    {% endif %}
    {% regroup serializer|dictsort:"section" by section as sections %}
    {% for section in sections %}
      <div class="card mb-4">
        {% if section.grouper %}
        <h3 class="card-header">{{ section.grouper }}</h3>
        {% endif %}
        <div class="card-body">
          {% for field in section.list %}
            {% render_field field style=style %}
            <!-- {% if field.errors %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  <p class="mb-0">ERROR: {{ error }}</p>
                </div>
              {% endfor %}
            {% endif %} -->
          {% endfor %}
        </div>
      </div>
      {% if not section.grouper %}
      <div class="alert alert-info mb-4">
        <p class="mb-0">Please only fill out the section corresponding to the user type you selected above:</p>
      </div>
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-dark btn-lg float-right mb-4">Request Credentials</button>
  </form>
</div>
{% endblock %}
