{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Request Credentials</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4 text-center">Request Credentials</h1>
  <form action="{% url 'request-credentials' %}" method="POST" novalidate>
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-body">
        <div class="form-group">
          <label>Username</label>
          <input name="username" class="form-control" type="text" id="username" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input name="email" class="form-control" type="text" id="email" />
        </div>
      </div>
    </div>
    <div id="entities">
      <h3 align="center"> Entity Associations </h3>
    </div>
    <script>
      var entity_id = 0;

      function removeElement(ev) {
        var button = ev.target;
        var field = button.previousSibling;
        var div = button.parentElement;
        div.removeChild(button);
        div.removeChild(field);
      }

      function add_hospital(entity_type) {
        entity_id++; // increment reqs_id to get a unique ID for the new element
        //create textbox
        var entities = document.getElementById('entities');

        var top_level_div = document.createElement('div');
        top_level_div.setAttribute('id', 'div' + entity_id);
        top_level_div.setAttribute('class', 'card mb-4');
        entities.appendChild(top_level_div);



        var title = document.createElement('h3');
        title.setAttribute('id', 'title' + entity_id);
        title.setAttribute('class', 'card-header');
        title.innerHTML = entity_type
        top_level_div.appendChild(title);

        var body_div = document.createElement('div');
        body_div.setAttribute('id', 'body-div' + entity_id);
        body_div.setAttribute('class', 'card-body');
        top_level_div.appendChild(body_div);

        var form_control_hidden = document.createElement('div');
        form_control_hidden.setAttribute('class', 'form-group');
        body_div.appendChild(form_control_hidden);

        var type = document.createElement('input');
        type.setAttribute('type', 'hidden');
        type.setAttribute('name', 'entity_type');
        type.setAttribute('value', entity_type);
        form_control_hidden.appendChild(type);

        var form_control_id = document.createElement('div');
        form_control_id.setAttribute('class', 'form-group');
        body_div.appendChild(form_control_id);


        var id_input_title = document.createElement('label');
        id_input_title.setAttribute('id', 'entity_id_label' + entity_id);
        id_input_title.innerHTML = 'ID';

        var id_input = document.createElement('input');
        id_input.setAttribute('class', 'form-control');
        id_input.setAttribute('type', 'text');
        id_input.setAttribute('name', 'entity_id');

        form_control_id.appendChild(id_input_title);
        form_control_id.appendChild(id_input);
      }

    </script>
    <div style="display: flex; justify-content: space-between;">
      <button type="button" class="btn btn-dark btn-lg" onclick="javascript:add_hospital('Hospital');">Add Hospital</button>
      <button type="button" class="btn btn-dark btn-lg" onclick="javascript:add_hospital('Supplier');">Add Supplier</button>
      <button type="button" class="btn btn-dark btn-lg" onclick="javascript:add_hospital('System');">Add System</button>
      <button type="button" class="btn btn-dark btn-lg" onclick="javascript:add_hospital('Hospital Group');">Add Hospital Group</button>
    </div>
    <br />
    <br />
<!--     <button type="button" value="Add" onclick="javascript:add_supplier();"> Add Supplier</button>
    <button type="button" value="Add" onclick="javascript:add_group();"> Add Hospital Group</button>
    <button type="button" value="Add" onclick="javascript:add_supplier();"> Add Supplier</button> -->

<!--     {% if serializer.errors and serializer.errors.non_field_errors %}
      {% for error in serializer.errors.non_field_errors %}
        <div class="alert alert-danger">
          <p class="mb-0">{{ error }}</p>
        </div>
      {% endfor %}
    {% endif %}
    {% regroup serializer|dictsort:"section" by section as sections %}
    {% for section in sections %}
      <div class="card mb-4">
        {% if section.grouper %}
        <h3 class="card-header">{{ section.grouper }}</h3>
        {% endif %}
        <div class="card-body">
          {% for field in section.list %}
            {% render_field field style=style %}
             {% if field.errors %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  <p class="mb-0">ERROR: {{ error }}</p>
                </div>
              {% endfor %}
            {% endif %} 
          {% endfor %}
        </div>
      </div>
      {% if not section.grouper %}
      <div class="alert alert-info mb-4">
        <p class="mb-0">Please only fill out the section corresponding to the user type you selected above:</p>
      </div>
      {% endif %}
    {% endfor %} -->

    <div class="d-flex justify-content-between mb-4">
      <button class="btn btn-lg btn-dark">
        <a class="text-decoration-none text-white" href="/">
          <i class="fa fa-angle-double-left mr-1"></i>
          Back to Log In
        </a>
      </button>
      <button type="submit" class="btn btn-dark btn-lg">Request Credentials</button>
    </div>
  </form>
</div>
{% endblock %}
