{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
  <h1>Request Credentials</h1>
  <form action="{% url 'request-credentials' %}" method="POST">
    {% csrf_token %}
    {% if serializer.errors and serializer.errors.non_field_errors %}
      {% for error in serializer.errors.non_field_errors %}
        <p style='color:#8B0000;'>ERROR: {{ error }}</p>
      {% endfor %}
    {% endif %}
    {% regroup serializer|dictsort:"section" by section as sections %}
    {% for section in sections %}
      <h2>{{ section.grouper }}</h2>
      {% for field in section.list %}
        {% render_field field style=style %}
        {% if field.errors %}
          {% for error in field.errors %}
            <p style='color:#8B0000;'>ERROR: {{ error }}</p>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if section.grouper == '' %}
      <div style='margin:50px;'>
        <p>Please only fill out the section corresponding to the user type you selected above:</p>
      </div>
      {% endif %}
    {% endfor %}

    <input type="submit" value="Request Credentials" style='margin-top:20px;'>
</form>
{% endblock %}
