{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Allocations - Hospital Administrator</title>
{% endblock %}

{% block content %}
<div class="card fixed fill">
  <h1 class="card-header bg-white">Allocations</h1>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Allocation Status</th>
          <th>Allocated Quantity</th>
          <th>Shipped Quantity</th>
          <th>Requesting Hospital</th>
          <th>Shipments</th>
        </tr>
      </thead>
      <tbody>
        {% for allocation in allocations %}
        <tr>
          <td>
            {% if allocation.status == 'Allocated' %}
            <span class="badge badge-primary">Allocated</span>
            {% elif allocation.status == 'Cancelled' %}
            <span class="badge badge-danger">Cancelled</span>
            {% elif allocation.status == 'Closed' %}
            <span class="badge badge-secondary">Closed</span>
            {% endif %}
          </td>
          <td>{{ allocation.allocated_qty }}</td>
          <td>{{ allocation.shipped_qty }}</td>
          <td>{{ allocation.request.hospital.name }}</td>
          <td>
            <a class="btn btn-dark btn-sm" href="{% url 'shipment-list' allocation.id %}">Shipments</a>
          </td>
        </tr>
        {% endfor %}
        {% if allocations|length == 0  %}
        <tr>
          <td colspan="5">
            <div class="alert alert-info mb-0 text-center">
              No allocations to display
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
