{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Ventilators - Hospital Administrator</title>
<link rel="stylesheet" href="/static/css/hospital-admin/dashboard.css">
{% endblock %}

{% block content %}

<div class="card fixed fill">
  <h1 class="card-header bg-white">Ventilators</h1>
  <div class="card-body">
    {% if messages %}
    <ul class="messages list-group mb-4">
      {% for message in messages %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ message }}
        <form action="{% url 'ventilator-approve' message.extra_tags %}" method="POST" class="mb-0">
          {% csrf_token %}
          <button class="btn btn-dark btn-sm" type='submit'>Approve</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Model Number</th>
          <th>Serial Number</th>
          <th>Quality</th>
          <th>Status</th>
          <th>Original Hospital</th>
          <th>Edit</th> 
        </tr>
      </thead>
      <tbody>
        {% for ventilator in ventilators %}
        <tr>
          <td data-title='Model Number'>{{ ventilator.ventilator_model.model }}</td>
          <td data-title="Serial Number">123456</td>
          <td data-title="Quality">{{ ventilator.quality }}</td>
          <td data-title='Status'>
            {% if ventilator.status == 'Unknown' %}
            <span class="badge badge-danger">Unknown</span>
            {% elif ventilator.status == 'Available' %}
            <span class="badge badge-success">Available</span>
            {% elif ventilator.status == 'InTransit' %}
            <span class="badge badge-warning">In Transit</span>
            {% elif ventilator.status == 'InUse' %}
            <span class="badge badge-primary">In Use</span>
            {% elif ventilator.status == 'SourceReserve' %}
            <span class="badge badge-info">Source Reserve</span>
            {% elif ventilator.status == 'DestinationReserve' %}
            <span class="badge badge-dark">Destination Reserve</span>
            {% endif %}
          </td>
          <td data-title='Original Hospital'>{{ ventilator.owning_hospital.name }}</td>
          <td data-title='Edit' class="select">
            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#singleVentilatorModal"
              data-title="Edit Ventilator Details" data-method="PUT" data-action="{% url 'ventilator-detail' ventilator.id %}"
              data-model-num="{{ ventilator.ventilator_model.model }}" data-status="{{ ventilator.status }}"  >
                Edit
            </button>
          </td>
        </tr>
        {% endfor %}
        {% if ventilators|length == 0 %}
        <tr>
          <td colspan="6">
            <div class="alert alert-info mb-0 text-center">
              No ventilators to display
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-between bg-white">
    <button class="btn btn-dark mb-0" data-toggle="modal" data-target="#singleVentilatorModal"
      data-title="Add Single Ventilator" data-method="POST" data-action="{% url 'ventilator-list' %}">
      <i class="fa fa-plus mr-2" aria-hidden="true"></i>
      Add Single Ventilator
    </button>
    <button class="btn btn-dark mb-0" data-toggle="modal" data-target="#batchVentilatorModal">
      <i class="fa fa-upload mr-2" aria-hidden="true"></i>
      Add Batch Ventilators
    </button>
  </div>
</div>

<div class="modal fade" id="singleVentilatorModal" tabindex="-1" role="dialog" aria-labelledby="singleVentilatorModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="single-modal-form" action="" method="POST" class="modal-content">
      <input type="hidden" id="input-method" name="_method" value=""/>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {% render_form serializer %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="batchVentilatorModal" tabindex="-1" role="dialog" aria-labelledby="batchVentilatorModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="{% url 'ventilator-list' %}" method="POST" enctype="multipart/form-data" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Batch Ventilator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="alert alert-info">
          Only accepts CSV files
        </div>
        <label for="file1">Upload a file or drag and drop here</label><br>
        <div class="draggable-view">
          <input type="file" id="file1" name="file">
          <div class="dropzone"></div>
          <div class="fallback-view">
            <span class="fallback">No file selected</span>
          </div>
          <a id="closeBtn" class="btn btn-link d-none" href="javascript:void(0)">
            <i class="fa fa-close"></i>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark">Upload</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/hospital-admin/dashboard.js"></script>
{% endblock %}
