{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}

<h1><b>Dashboard</b></h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    <form action="{% url 'ventilator-approve' message.extra_tags %}" method="POST">
      {% csrf_token %}
      <button type='submit'>Approve</button>
    </form>
    {% endfor %}
</ul>
{% endif %}

<h2><b>Ventilators</b></h2>
<main>
  <table>
    <thead>
      <tr>
        <th>Model Number</th>
        <th>Status</th>
        <th>Original Hospital</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for ventilator in ventilators %}
      <tr>
        <td data-title='Model Number'>{{ ventilator.model_num }}</td>
        <td data-title='State'>{{ ventilator.state }}</td>
        <td data-title='Original Hospital'>{{ ventilator.owning_hospital.name }}</td>
        <td class='select'><a class='button' href="{% url 'ventilator-detail' ventilator.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<div class="form" >
  <h2><b>Add Single Ventilator</b></h2>
  <form action="{% url 'ventilator-list' %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input class='button' type="submit" value="Save">
  </form>

  <h2><b>Add Batch Ventilators</b></h2>
  <form action="{% url 'ventilator-list' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1"> Upload a file</label><br>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV files</small>
    <button type="submit">Upload</button>
  </form>
</div>

{% endblock %}
