{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Offers - Hospital Administrator</title>
{% endblock %}

{% block content %}
<div class="card fixed fill">
  <h1 class="card-header bg-white">Offers Created</h1>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Offer Status</th>
          <th>Offered Quantity</th>
          <th>Allocated Quantity</th>
          <th>Shipped Quantity</th>
          <th>Allocations to Requests</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in offers %}
        <tr>
          <td>
          {% if offer.status == 'PendingApproval' %}
            <span class="badge badge-primary">PendingApproval</span>
          {% elif offer.status == 'Approved' %}
            <span class="badge badge-success">Approved</span>
          {% elif offer.status == 'Replaced' %}
            <span class="badge badge-info">Replaced</span>
          {% elif offer.status == 'Cancelled' %}
            <span class="badge badge-danger">Cancelled</span>
          {% elif offer.status == 'Closed' %}
            <span class="badge badge-secondary">Closed</span>
          {% endif %}
          </td>
          <td>{{ offer.offered_qty }}</td>
          <td>{{ offer.allocated_qty }}</td>
          <td>{{ offer.shipped_qty }}</td>
          <td>
            {% if offer.status == 'PendingApproval' %}
            <p>No Allocations until Offer is Approved</p>
            {% elif offer.status == 'Approved' %}
            <a class="btn btn-dark btn-sm" href="{% url 'offer-allocation-list' offer.id %}">Allocations to Requests</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% if offers|length == 0 %}
        <tr>
          <td colspan="5">
            <div class="alert alert-info mb-0 text-center">
              No requested order to display
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="ventilatorRequestModal" tabindex="-1" role="dialog" aria-labelledby="ventilatorRequestModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit a Ventilator Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <label for="num"> How many ventilators do you need? </label>
        <input type="text" id="num_requested" class="form-control" name="num_requested">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
