{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}

<h1><b>Orders</b></h1>
<table>
	<thead>
		<tr>
			<th>Order Status</th>
			<th>Ventilators Requested</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td align="right">{{ order.active|yesno:"Active,Inactive,Unknown" }}</td>
			<td align="right">{{ order.num_requested }}</td>
		</tr>	
		{% endfor %}
	</tbody>
</table>

<h3> Submit a Ventilator Request </h3>
<form method="post">
	{% csrf_token %}
	<label for="num"> How many ventilators do you need? </label>
	<input type="text" id="num_requested" name="num_requested">
	<button type="submit">Submit</button>
</form>

{% endblock %}
