{% extends 'base.html' %}
{% load rest_framework %}

{% block head %}
<title>Supplied Orders - Hospital Administrator</title>
{% endblock %}

{% block content %}
<div class="card fixed fill">
  <h1 class="card-header bg-white">Supplied Orders</h1>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Order Status</th>
          <th>Amount</th>
          <th>Receiving Hospital</th>
          <th>Request Back Reserve</th>
          <th>Allow Receiver to Deploy Reserve</th>
          <th>Deny Request for Reserve</th>
        </tr>
      </thead>
      <tbody>
        {% for order in transit_orders %}
        <tr>
          <td><span class="badge badge-warning">Transit</span></td>
          <td>{{ order.num_requested }}</td>
          <td>{{ order.requesting_hospital.name }}</td>
          <td>Please wait till shipment arrives</td>
          <td>Please wait till shipment arrives</td>
          <td>No Request Found</td>
        </tr>
        {% endfor %}
        {% for order in arrived_reserve_orders %}
        <tr>
          <td><span class="badge badge-success">Arrived</span></td>
          <td>{{ order.num_requested }}</td>
          <td>{{ order.requesting_hospital.name }}</td>
          <td>    
            <form action="{% url 'call-back-reserve' order.id %}"  method="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-sm" name="Request">Submit</button>
            </form>
          </td>
          <td>
            <form action="{% url 'deploy-reserve' order.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark btn-sm" name="Deploy">Submit</button>
            </form>
          </td>
          <td>No Request Found</td>
        </tr>
        {% endfor %}
        {% for order in arrived_non_reserve_orders %}
        <tr>
          <td><span class="badge badge-success">Arrived</span></td>
          <td>{{ order.num_requested }}</td>
          <td>{{ order.requesting_hospital.name }}</td>
          <td>Unable at this time</td>
          <td>Unable at this time</td>
          <td>No Request Found</td>
        </tr>
        {% endfor %}
        {% for order in arrived_requested_reserve_orders %}
        <tr>
          <td><span class="badge badge-success">Arrived</span></td>
          <td>{{ order.num_requested }}</td>
          <td>{{ order.requesting_hospital.name }}</td>
          <td>    
            <form action="{% url 'call-back-reserve' order.id %}"  method="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-sm" name="Request">Submit</button>
            </form>
          </td>
          <td>
            <form action="{% url 'deploy-reserve' order.id %}" method="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-sm" name="Deploy">Submit</button>
            </form>
          </td>
          <td>
            <form action="{% url 'deny-reserve' order.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark btn-sm" name="Deny Request">Submit</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% if transit_orders|length == 0 and arrived_reserve_orders|length == 0 and arrived_non_reserve_orders|length == 0 and arrived_requested_reserve_orders|length == 0 %}
        <tr>
          <td colspan="6">
            <div class="alert alert-info mb-0 text-center">
              No supplied order to display
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
