body {
  color: #172B4D;
  background-color: #FAFBFC;
}

* {
  outline: 0;
}

.covid-navbar {
  height: 64px;
  border-bottom: 1px solid #EDEDED;
}

.covid-sidebar {
  position: fixed;
  width: 256px;
  border-right: 1px solid #F4F5F7;
  top: 64px;
  bottom: 0;
  padding: 32px 16px;
}

.covid-sidebar a {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 20px;
  color: #172B4D;
  border-bottom: 1px solid #F4F5F7;
}

.covid-sidebar a.active {
  font-weight: 800;
}

.main-content {
  padding-top: 64px;
  margin-left: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content > .card {
  margin: 32px;
}

.main-content > .card .card-header {
  text-align: center;
}

.main-content > .card.fill {
  flex: 1;
}

.main-content > .card.fixed {
  overflow: hidden;
}

.main-content > .card.fixed > .card-body {
  overflow-y: auto;
}

.help-block {
  color: #dc3545;
}

table {
  border-collapse: separate;
  margin-bottom: 0 !important;
}

table.table-bordered thead th {
  border-bottom-width: 1px; 
}

.drop-submenu a.dropdown-toggle:before {
  display: none;
}

.model-number {
  margin-bottom: 5px;
}

form {
  margin-bottom: 0;
}
