html {
  font-size: unset;
}

body {
  font-size: 1rem;
}

.covid-navbar {
  height: 64px;
  border-bottom: 1px solid #EDEDED;
}

.covid-sidebar {
  position: fixed;
  width: 256px;
  border-right: 1px solid #F4F5F7;
  top: 64px;
  bottom: 0;
  padding: 32px 16px;
}

.covid-sidebar a {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 20px;
  color: #172B4D;
  border-bottom: 1px solid #F4F5F7;
}

.covid-sidebar a.active {
  font-weight: 600;
}

.main-content {
  padding-top: 64px;
  margin-left: 256px;
  height: 100%;
  background-color: #FAFBFC;
  display: flex;
  flex-direction: column;
}

.main-content > div {
  margin: 32px;
  flex: 1;
}
