{% load static %}
{% load rest_framework %}

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/99833fc0cf.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href='{% static "css/global.css" %}'>
  {% block head %}{% endblock %}
  <script type="text/javascript">
    var messages = [];
    {% if messages %}
      {% for msg in messages %}
      messages.push({
        type: '{{msg.level_tag}}',
        content: '{{msg.message}}'
      });
      {% endfor %}
    {% endif %}
  </script>
</head>
<body>
  {% if user.is_authenticated and request.get_full_path != '/' and '/accounts/' not in request.get_full_path %}
    {% include 'shared/navbar.html' %}
    {% include 'shared/sidebar.html' %}
  {% endif %}
  <main {% if user.is_authenticated and request.get_full_path != '/' and '/accounts/' not in request.get_full_path %} class="main-content" {% endif %}>
    {% block content %}{% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="{% static 'js/global.js' %}" async defer></script>
  {% block script %}{% endblock %}
</body>
</html>
