<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top covid-navbar">
    <a class="navbar-brand" href="/">
      <img src="/static/imgs/logo.png" height="40" alt="logo">
    </a>

    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.user_type == 'HospitalGroup' %}
        <span class="nav-link">CEO / Governor</span>
        {% elif user.user_type == 'System' %}
        <span class="nav-link">System Operator</span>
        {% elif user.user_type == 'Hospital' %}
        <span class="nav-link">Hospital Admin</span>
        {% elif user.user_type == 'Supplier' %}
        <span class="nav-link">Supplier</span>
        {% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
      </li>
    </ul>
    {% endif %}
  </nav>
</header>
