{% if user.is_authenticated %}
<nav class="nav bg-white flex-column covid-sidebar">
  {% if user.user_type == 'Hospital' %}
  <a class="nav-link" href="{% url 'order' %}">Orders</a>
  <a class="nav-link" href="{% url 'ventilator-list' %}">Ventilators</a>
  {% endif %}
  {% if user.user_type == 'SystemOperator' %}
  <a class="nav-link" href="{% url 'sys-dashboard' %}">Dashboard</a>
  <a class="nav-link" href="{% url 'sys-settings' %}">Settings</a>
  {% endif %}
  {% if user.user_type == 'HospitalGroup' %}
  <a class="nav-link" href="{% url 'ceo-dashboard' %}">Dashboard</a>
  {% endif %}
</nav>
{% endif %}
