{% if user.is_authenticated %}
<aside>
  <nav class="nav bg-white flex-column covid-sidebar">
    {% if user.user_type == 'Hospital' %}

    {% url 'ventilator-list' as ventilator_list_url %}
    <a class="nav-link {% if request.get_full_path == ventilator_list_url %}active{% endif %}" href="{{ ventilator_list_url }}">Ventilators</a>

    {% url 'requested-order' as requested_order_url %}
    <a class="nav-link {% if request.get_full_path == requested_order_url %}active{% endif %}" href="{{ requested_order_url }}">Requested Orders</a>

    {% url 'supplied-order' as supplied_order_url %}
    <a class="nav-link {% if request.get_full_path == supplied_order_url %}active{% endif %}" href="{{ supplied_order_url }}">Supplied Orders</a>

    {% endif %}

    {% if user.user_type == 'SystemOperator' %}

    {% url 'sys-dashboard' as sys_dashboard_url %}
    <a class="nav-link {% if request.get_full_path == sys_dashboard_url %}active{% endif %}" href="{{ sys_dashboard_url }}">Dashboard</a>

    {% url 'sys-settings' as sys_settings_url %}
    <a class="nav-link {% if request.get_full_path == sys_settings_url %}active{% endif %}" href="{{ sys_settings_url }}">Allocation</a>

    {% url 'sys-demand' as sys_demand_url %}
    <a class="nav-link {% if request.get_full_path == sys_demand_url %}active{% endif %}" href="{{ sys_demand_url }}">Show Demand</a>

    {% url 'sys-supply' as sys_supply_url %}
    <a class="nav-link {% if request.get_full_path == sys_supply_url %}active{% endif %}" href="{{ sys_supply_url }}">Show Supply</a>

    {% url 'sys-source-reserve' as sys_source_reserve_url %}
    <a class="nav-link {% if request.get_full_path == sys_source_reserve_url %}active{% endif %}" href="{{ sys_source_reserve_url }}">Source Reserve</a>

    {% url 'sys-destination-reserve' as sys_destination_reserve_url %}
    <a class="nav-link {% if request.get_full_path == sys_destination_reserve_url %}active{% endif %}" href="{{ sys_destination_reserve_url }}">Destination Reserve</a>

    {% endif %}

    {% if user.user_type == 'HospitalGroup' %}

    {% url 'ceo-dashboard' as ceo_dashboard_url %}
    <a class="nav-link {% if request.get_full_path == ceo_dashboard_url %}active{% endif %}" href="{{ ceo_dashboard_url }}">View</a>

    <a class="nav-link {% if 'hospitals/approve/' in request.get_full_path %}active{% endif %}" href="#">Approve</a>
    <a class="nav-link {% if 'hospitals/offer/' in request.get_full_path %}active{% endif %}" href="#">Shared Offer</a>

    {% endif %}
  </nav>
</aside>
{% endif %}
